/* General Styles */
* {
    font-size: 16pt;
    background-image: none;
}

window {
    background-image: url("/home/alex/walls/wallpaper.jpg");
}

button {
    color: #FFFFFF;
    background-color: #101010;
    outline-style: none;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: #3700B3;
    background-size: 30%;
}

/* Individual Button Styles */
#lock {
    background-image: url("icons/lock_white.png");
    border-radius: 50px 0 0 0;
    margin: 30px 0 0 30px;
    background-size: 50%; /* Adjust size as needed */
    background-position: center;
    background-repeat: no-repeat;
}

#logout {
    background-image: url("icons/logout_white.png");
    border-radius: 0 0 0 50px;
    margin: 0 0 30px 30px;
    background-size: 50%; /* Adjust size as needed */
    background-position: center;
    background-repeat: no-repeat;
}

#shutdown {
    background-image: url("icons/shutdown_white.png");
    border-radius: 0 50px 0 0;
    margin: 30px 30px 0 0;
    background-size: 50%; /* Adjust size as needed */
    background-position: center;
    background-repeat: no-repeat;
}

#reboot {
    background-image: url("icons/reboot_white.png");
    border-radius: 0 0 50px 0;
    margin: 0 30px 30px 0;
    background-size: 50%; /* Adjust size as needed */
    background-position: center;
    background-repeat: no-repeat;
}
